* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow Condensed", sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.container_2 {
  width: 65%;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.space_between_align_center {
  flex-direction: row;
  justify-content: space-between;
}

.padding {
  padding: 2.5rem 0;
}

.relative {
  position: relative;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-2 {
  width: 16.6666666667%;
}

.justify_center {
  justify-content: center;
}

.button {
  cursor: pointer;
  color: white;
  text-transform: uppercase;
}

.site_header {
  padding-top: 1.5rem;
}

.logo {
  width: 70px;
  padding-bottom: 0.8rem;
}
.logo img {
  width: 100%;
}

.menu {
  padding-top: 1rem;
  display: flex;
}
.menu a {
  text-decoration: none;
  color: #788186;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 0.9em;
  margin: 0 1rem;
}
.menu a.active {
  color: #0282f9;
  border-bottom: 5px solid #0282f9;
}
.menu .search_wrapper {
  border-bottom: 3px solid #0282f9;
  align-self: flex-start;
  color: #788186;
}
.menu input.searchbar {
  text-align: right;
  border: none;
  text-transform: capitalize;
  font-weight: 800;
  width: 40px;
}

/* main content
 */
.content {
  color: white;
  background-color: #1c1c1c;
}

.content_2 {
  color: #1c1c1c;
  background-color: white;
}

.jumbotron {
  height: 400px;
}
.jumbotron img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.current_series_title {
  background-color: #0282f9;
  position: absolute;
  top: -1.2rem;
  padding: 0.5rem 1.6rem;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.products {
  margin-top: 2rem;
}

.background {
  background-color: #0282f9;
}

.icons {
  width: 100%;
  display: flex;
}
.icons .icon {
  height: 40px;
}
.icons .icon img {
  height: 100%;
}

.icon_container {
  width: 20%;
  display: flex;
  align-items: center;
}
.icon_container p {
  margin-left: 0.5rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 1px;
  font-family: Arial, Helvetica, sans-serif;
}

.card {
  padding: 0.8rem;
}
.card img {
  height: calc(202.55px - 0.8rem);
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card h3 {
  font-weight: 200;
  margin-top: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 0.8rem;
}
.card .card_link {
  color: white;
  text-decoration: none;
}

.load_more {
  margin-top: 2rem;
  background-color: #0282f9;
  border: none;
  font-weight: 800;
  letter-spacing: 0.5px;
  padding: 0.5rem 4rem;
}

.background_footer {
  height: 350px;
  background-size: cover;
  background-image: url("../img/footer-bg.jpg");
}

.footer_container {
  height: 100%;
}

.footer_info,
.footer_logo_png {
  width: 45%;
}

.info_sec {
  width: 25%;
  margin-top: 2rem;
}
.info_sec .info_sec_bottom {
  margin-top: 1.5rem;
}
.info_sec h4 {
  margin-bottom: 1rem;
  color: white;
  font-size: 1.1rem;
  text-transform: uppercase;
}
.info_sec ul {
  list-style: none;
}
.info_sec ul li a {
  text-decoration: none;
  color: rgba(182, 181, 181, 0.664);
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 0.5px;
}

.footer_logo_png {
  height: 100%;
}
.footer_logo_png img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer_sign_up_bg {
  background-color: #303030;
}

.social {
  list-style: none;
  align-items: center;
}
.social .follow {
  color: #0282f9;
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;
}
.social li {
  margin: 0 1rem;
}

.sign-up {
  border: 2px solid #0282f9;
  background: none;
  padding: 0.5rem 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.product_img_wrapper {
  height: 240px;
  width: 170px;
  position: relative;
  margin-top: -250px;
  border: 1px solid white;
}
.product_img_wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blue_border {
  border-bottom: 80px solid #0282f9;
}

.tag {
  background-color: #07abdc;
  padding: 0.2rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.5px;
  color: white;
}

.comic_tag {
  top: 0;
  position: absolute;
}

.view_tag {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}

.price_wrapper,
.availability_wrapper {
  background-color: #55b958;
  padding: 0.7rem 1.5rem;
  color: rgba(255, 255, 255, 0.568);
  text-transform: uppercase;
  border-bottom: 1px solid #303030;
  font-size: 0.9rem;
  font-weight: 700;
}

.product_info_wrapper {
  width: 71%;
}

.adv {
  width: 26%;
}

.price_wrapper {
  width: 70%;
}
.price_wrapper .price_text {
  color: white;
  margin-left: 0.5rem;
}

.availability_wrapper {
  text-transform: capitalize;
  font-size: 0.9rem;
  letter-spacing: 1px;
  color: white;
  min-width: 30%;
  border-left: 1px solid #303030;
  text-align: center;
}
.availability_wrapper i {
  vertical-align: top;
  margin-left: 0.5rem;
}

.adv_wrapper {
  width: 270px;
  height: 210px;
}
.adv_wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.product_title {
  color: #003f6e;
  font-size: 2.1rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.product_description p {
  font-size: 1.1rem;
  line-height: 1.5rem;
  margin-top: 1rem;
}

.credits_bg {
  background-color: #f6f6f6;
  padding: 2rem 0;
}

.bg_grey {
  background-color: #f5f5f5;
  border-top: 1px solid #78818669;
}
.bg_grey .icons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.bg_grey .icons .icon {
  height: 40px;
  margin-top: 1rem;
}
.bg_grey .icons .icon img {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.075);
  mix-blend-mode: multiply;
}
.bg_grey .icon_container {
  width: 25%;
  display: flex;
  justify-content: space-between;
  border-left: 1px solid #78818669;
  padding: 0.8rem;
  padding-top: 0;
  margin-top: -1px;
  padding-bottom: 1rem;
}
.bg_grey .icon_container p {
  color: #78818669;
  font-weight: 800;
  font-size: 0.7rem;
  font-family: "Barlow Condensed", sans-serif;
  margin-left: 0;
  letter-spacing: 0;
}

.talent,
.specs {
  width: 47.5%;
}

.credit_title {
  color: #003f6e;
  font-size: 1.5rem;
  border-bottom: 1px solid #7881867a;
  padding-bottom: 2rem;
}

.artists {
  border-bottom: 1px solid #7881867a;
  padding: 1rem 0;
}

.authors {
  font-size: 0.9rem;
  font-weight: 600;
  color: #003f6e;
}

.artists_wrapper {
  width: 70%;
}
.artists_wrapper .info_spec,
.artists_wrapper .artist {
  color: #5abfe2;
  font-weight: 600;
  text-decoration: none;
}
.artists_wrapper .info_spec {
  color: #788186 !important;
}